.ui-widget, .ui-autocomplete-input { font-size: 0.8em; }

.ui-widget-wysiwyg {
	border: 1px #AAA solid;
	min-height: 7em;
	max-height: 30em;
	overflow: auto;
	background: #FFF;
	border-radius: 2pt;
	outline: 0px solid transparent;
	padding: 0.5em;
}

.ui-toolbar {
	padding: 3px;
	background: #EEEEEE;
}

.ui-separator {
	border-left: 1px #DDDDDD solid;
	border-right: 1px #FFFFFF solid;
	width: 1px;
	margin: 3px;
}